<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key>
	<string>0000</string>
	<key>description</key>
	<string>This is a demo protocol developed for testing purposes</string>
	<key>creationDate</key>
	<date>2010-12-27T18:52:29Z</date>
	<key>modifiedDate</key>
	<date>2010-12-27T18:52:41Z</date>
	<key>status</key>
	<integer>0</integer>
	<key>lastRun</key>
	<date>2010-12-27T18:54:00Z</date>
	<key>components</key>
	<dict>
		<key>0</key>
		<dict>
			<key>definition</key>
			<dict/>
			<key>jumps</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>1</key>
		<dict>
			<key>definition</key>
			<dict/>
			<key>jumps</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
