<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TKComponentType</key>
	<integer>0</integer>
	<key>TKComponentName</key>
	<string>CRT</string>
	<key>TKComponentBundleName</key>
	<string>RRFCRT</string>
	<key>TKComponentBundleIdentifier</key>
	<string>com.rrf.component.CRT</string>
	<key>TKComponentOptions</key>
	<array>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTTaskName</string>
			<key>displayName</key>
			<string>Task Name</string>
			<key>type</key>
			<integer>0</integer>
			<key>default</key>
			<string>CRT</string>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The task name will be appended to the name of the data file</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTDataDirectory</string>
			<key>displayName</key>
			<string>Data Directory</string>
			<key>type</key>
			<integer>3</integer>
			<key>default</key>
			<string></string>
			<key>isDirectory</key>
			<true/>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Directory where component will save data file - Initial value is set to session global</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTPrepTimeMS</string>
			<key>displayName</key>
			<string>Prep Time (ms)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>800</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>I don&apos;t really know...</string>
			<key>min</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTBlankScreenTimeMS</string>
			<key>displayName</key>
			<string>Blank Screen Time (ms)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>500</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Amount of time the screen is blank between one and two thing.</string>
			<key>min</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTVertGreenRectCount</string>
			<key>displayName</key>
			<string>Vert Green Rect Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>20</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Number of vertical green rectangle instances</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTVertBlueRectCount</string>
			<key>displayName</key>
			<string>Vert Blue Rect Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>5</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Number of vertical blue rectangle instances</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTHorizGreenRectCount</string>
			<key>displayName</key>
			<string>Horiz Green Rect Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>5</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Number of horizontal green rectangle instances</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTHorizBlueRectCount</string>
			<key>displayName</key>
			<string>Horiz Blue Rect Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>20</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Number of horizontal blue rectangle instances</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRT100TrialCount</string>
			<key>displayName</key>
			<string>100ms Trial Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>10</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of 100ms trials</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRT200TrialCount</string>
			<key>displayName</key>
			<string>200ms Trial Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>10</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of 200ms trials</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRT300TrialCount</string>
			<key>displayName</key>
			<string>300ms Trial Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>10</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of 300ms trials</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRT400TrialCount</string>
			<key>displayName</key>
			<string>400ms Trial Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>10</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of 400ms trials</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRT500TrialCount</string>
			<key>displayName</key>
			<string>500ms Trial Count</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>10</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of 500ms trials</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTMaxTrialWaitTimeMS</string>
			<key>displayName</key>
			<string>Trial Max Wait Time (ms)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>1000</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Amount of time trial should wait for response before moving to next trial</string>
			<key>min</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTResultDisplayTimeMS</string>
			<key>displayName</key>
			<string>Result Display Time (ms)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>700</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Amount of time that the result should be displayed to the subject</string>
			<key>min</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTTrialBlockCount</string>
			<key>displayName</key>
			<string>Trial Blocks</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>5</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of trial blocks</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTBlockSize</string>
			<key>displayName</key>
			<string>Block Size</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>50</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired instances of trials within a trial block</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTBreakTime</string>
			<key>displayName</key>
			<string>Break Time (s)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>30</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired duration of break</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTBreakWarning</string>
			<key>displayName</key>
			<string>Break Warning (s)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>20</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Desired amount of time before the break at which the warning should be displayed</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFCRTResponseTimeFilterMS</string>
			<key>displayName</key>
			<string>Response Time Filter (ms)</string>
			<key>type</key>
			<string>1</string>
			<key>default</key>
			<integer>100</integer>
			<key>allowsEdit</key>
			<true/>
			<key>New item</key>
			<string></string>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>???</string>
			<key>min</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
