<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TKComponentType</key>
	<integer>0</integer>
	<key>TKComponentName</key>
	<string>Alarm</string>
	<key>TKComponentBundleName</key>
	<string>RRFAlarm</string>
	<key>TKComponentBundleIdentifier</key>
	<string>com.rrf.component.Alarm</string>
	<key>TKComponentOptions</key>
	<array>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFAlarmTaskName</string>
			<key>displayName</key>
			<string>Task Name</string>
			<key>type</key>
			<integer>0</integer>
			<key>default</key>
			<string>Alarm</string>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The task name will be appended to the name of the data file</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFAlarmDataDirectory</string>
			<key>displayName</key>
			<string>Data Directory</string>
			<key>type</key>
			<integer>3</integer>
			<key>default</key>
			<string></string>
			<key>isDirectory</key>
			<true/>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Directory where component will save data file - Initial value is set to session global</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFAlarmPrompt</string>
			<key>displayName</key>
			<string>Alarm Prompt</string>
			<key>type</key>
			<integer>0</integer>
			<key>default</key>
			<string>*** ALARM ***</string>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>This is the string that is displayed on the screen during the alarm</string>
		</dict>
	</array>
</dict>
</plist>
